maps/*
data/*
pyVenv/
pyVenv
Transmission_Overhead_Powerlines_WP_032_WA_GDA2020_Public_Secure_Shapefile/
Transmission_Overhead_Powerlines_WP_032_WA_GDA2020_Public_Secure_Shapefile
api.key
duckdb
h3ext.duckdb_extension
.DS_Store